# Flask Configuration
SECRET_KEY=your-secret-key

# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/devconnect

# Frontend Configuration
FRONTEND_URL=http://localhost:5173

# Admin Configuration
ADMIN_USERNAME=your-admin-username
ADMIN_PASSWORD=your-bcrypt-password
